body
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.drop-down-body,
.question-container,
.answer
 
    {
        
        
        display: flex;
        flex-direction: column;
        
        transition: .35s ;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 13px;
        
        
    }
body
    {
        background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        background-repeat: no-repeat;
        min-height: 100vh;
        padding-bottom: 1rem;

        
    }

.drop-down-body
    {
        border-radius: 25px;
        background-color: white;
        min-height: 100%;
        max-width: 480px;
        min-width: 335px;
        margin: 1rem;
        padding-bottom: 3rem;
        text-align: left;
        position: relative;        
        
    }


.question 
    {
        font-size: 13px;
        color: hsl(237, 12%, 33%);
        display: block;
    }
 
.question:hover
    {
    color: hsl(14, 88%, 65%);
    }

.question-container-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }        

.question-container
    {
        cursor: pointer;
        font-weight: 400;
        border-bottom: 1px solid hsl(240, 5%, 91%);
        max-width: 85%;
        text-align: left;
        padding: 1rem 0; 
        position: relative;   
                
    }
.spaceBetween 
    {
       display: flex;
       justify-content: space-between;
       
    }
    .arrow
        {
            
            display: block;
            height: 10px;
            width: auto;
            
        }

    .question__active
    {
        font-weight: 700;
        color: hsl(238, 29%, 16%)
    }   

.answer
    {
       height: 0;
       overflow: hidden;
       font-weight: 400;       
       
    }

.answer__open
   
    {
        height: 56px;
        font-weight: 400;
        color: hsl(240, 6%, 50%);
        margin-top: 1rem;
        line-height: 1.5;        
    }


.faq {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}


.bg-image
    {
        display: block; 
        margin-left: auto;
        margin-right: auto;
        margin-top: -106px;
        padding-right: 25px;
        position: relative;

        
    }

.bg-image::before 
    {
        background-image: url('../images/bg-pattern-mobile.svg');
        background-size: 100%;
    }

